aside {

  
        border-radius: 10px;
        background: linear-gradient(90deg,rgba(219, 219, 227, 0.85) 0%,rgba(64, 64, 64, 0.87) 92%);
        text-align: center;
    
        grid-area: aside;

        h4 { 

            color: $colorTitulos;
            text-transform: uppercase;
            margin-top: 20px;

        }

        h5 {
            text-align: center;
            font-weight: 600;
            text-decoration: underline;
        }

        
    
}

@each $imgAside in mail, whatsapp, ubicacion {
    .#{$imgAside} { 
          background-image:  
           url('img/#{$imgAside}.jpg');
     }
 }


.aside__article {
    width: auto;
    background-color: #d5cccc;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    margin: 10px;
    // border: black solid 1px;
    box-shadow: 2px 2px 5px #999;
    text-align: left;

    p{
        
        text-align: justify;
        padding: 10px;
    }}

.aside__contacto{
    height: 135vh;
}
    



