
/*-----------------Formulario------------------*/


form {

    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40vw;
    box-sizing: border-box;
    
}


@mixin form__input{
     
   
        margin: 10px;
        padding: 5px;
        box-sizing: border-box;
        border: 0px;
        border-bottom: 1px solid $colorTitulos; 
        border-radius: 4px;
        background-color: $colorMain;   
}

.form__input {
    @include form__input
}

.form__textarea {
    @include form__input;
    
    max-height: 100px;

}

.form__boton {
    margin: 5px;
    border: none;
    background-color: gray;
    color: #fff;
    border-radius: 4px;

    &:hover {
        color: $colorTitulos;
        
    }
}

