form {

    display: flex;
    flex-direction: column;
    
    width: 100%;
    padding: 0 1rem;
    
}

.form__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

.form__textarea {
    display: flex;
    margin: 5px;
//     size: 40px;
// }

.form__label {
    margin: 0 10px;
    padding-top: 10px;
}

.form__input {
    display: flex;
    justify-content: center;
    margin: 5px;
}

}