

/*-------------------TABLA--------------------*/

.tablaServicios{

    font-family: 'Roboto', sans-serif;
    border: black 1px solid;
    width: 31.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center ;
    width: 100%;
}


.tablaServicios__td {
    padding: 0.3125rem;
    text-align: left;
    border: 1px solid black;
    margin: 0.625rem;
}

.tablaServicios__td--centrartxt{
    text-align: center;

}

.tablaServicios__th{
    color: rgb(54, 2, 11);
    background-color: rgb(187, 187, 187);
    text-align: center;
    vertical-align: top; 
    border: 1px solid black;
    padding: 0.625rem; 
    text-transform: uppercase; /*mayuscula*/
}